@import "myMixins.scss";

.rollovable {
  $color:  red;

  @include rollovable($color);
}

.generic-button {
  $genericButtonSize: 24px;
  $color:  blue;
  
  @include roundedCorners(50px);
  
  font-size: $genericButtonSize * 4;
  color: white;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.extended-button {
  @extend .generic-button;

  color: black;
  width: (500px + 100px) / 5;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

